body {
  background: #000000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #451776;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  border: 3px solid #ffffff; /* borda branca */
  box-shadow: 0 0 20px #ffffff88; /* sombra branca */
}

h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

input, select {
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  border: none;
  width: 100%;
  font-size: 24px;
  box-sizing: border-box;
  background: transparent;
  color: #ffffff; /* texto branco */
}

input::placeholder {
  color: #ffffff; /* placeholder branco */
}

select option {
  color: #ffffff; /* texto das opções branco */
  background: #451776; /* fundo roxo do option */
}

button {
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  border: none;
  width: 100%;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
  background: #3D1365; /* botão roxo */
  color: #ffffff; /* texto branco */
}

button:hover {
  background: #5A1AC0; /* hover mais claro */
}

#resultado {
  margin-top: 15px;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff; /* resultado branco */
}